NET "A<0>" LOC=H6 | IOSTANDARD=LVCMOS33;
NET "A<1>" LOC=U12 | IOSTANDARD=LVCMOS33;
NET "A<2>" LOC=U11 | IOSTANDARD=LVCMOS33;
NET "A<3>" LOC=V10 | IOSTANDARD=LVCMOS33;
NET "B<0>" LOC=T8 | IOSTANDARD=LVCMOS18;
NET "B<1>" LOC=U8 | IOSTANDARD=LVCMOS18;
NET "B<2>" LOC=R16 | IOSTANDARD=LVCMOS33;
NET "B<3>" LOC=T13 | IOSTANDARD=LVCMOS33;
NET "ALUOP<0>" LOC=R17 | IOSTANDARD=LVCMOS33;
NET "ALUOP<1>" LOC=T18 | IOSTANDARD=LVCMOS33;
NET "ALUOP<2>" LOC=U18 | IOSTANDARD=LVCMOS33;
NET "ALUOP<3>" LOC=R13 | IOSTANDARD=LVCMOS33;
NET "RESULT<0>" LOC=H17 | IOSTANDARD=LVCMOS33;
NET "RESULT<1>" LOC=K15 | IOSTANDARD=LVCMOS33;
NET "RESULT<2>" LOC=J13 | IOSTANDARD=LVCMOS33;
NET "RESULT<3>" LOC=N14 | IOSTANDARD=LVCMOS33;
NET "FLAG<0>" LOC=V15 | IOSTANDARD=LVCMOS33;
NET "FLAG<1>" LOC=V14 | IOSTANDARD=LVCMOS33;
NET "FLAG<2>" LOC=V12 | IOSTANDARD=LVCMOS33;
NET "FLAG<3>" LOC=V11 | IOSTANDARD=LVCMOS33;